Package: linux-image-5.10.264-lenovo-tb320fc
Source: linux-android-lenovo-tb320fc
Version: 0.0.0+git20260901165841.b5ed646.droidian
Architecture: arm64
Maintainer: Droidian porters <info@droidian.org>
Installed-Size: 47638
Section: kernel
Priority: optional
Description: Linux kernel for Lenovo Legion Tab 2023
 This package contains the Linux kernel for the Lenovo Legion Tab 2023 device.
 .
 Note: This package only ships the kernel image and modules, you should probably
 look at the linux-bootimage-5.10.264-lenovo-tb320fc package for a bootimage suitable
 for Android boot loaders.
X-Droidian-Vcs-Revision: b5ed64651ffcb8f3094d5b6356f6e3c43271856d
X-Droidian-Vcs-Url: https://android.googlesource.com/kernel/common
